@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  background: rgba(204, 204, 204, 0.295);
  z-index: 2;
  font-family: copperplate;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  margin: 15px;
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: black;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.20rem;
  font-weight: 600;
  font-family: var(--copperplate);
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: grey;
  text-decoration: underline;
}

.show-nav {
  height: 510px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 24em;
    padding: 2.3rem 7rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/*end of navbar */

/* HERO */
.overlay {
  background: url('./images/herbal.png') center/cover;
   /* height: 15rem; */
  /* font-family: copperplate;
  font-size: x-large; 
   */
}
/*Hero */
section {
  width: 100%;
  display: table;
  margin-top: -30px;
  max-width: none;
  height: 100vh;
}
/*Hero */

.intro {
  height: 125vh;
  padding-top: 30px;
}
/*Hero */

.content {
  display: table-cell;
  vertical-align: middle;
  z-index: 100;
  font-size: 1.5rem;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  color:var(--mainwhite);
  background: rgba(226, 99, 26, 0.035);
}
/*Hero */

.content h1 {
  background-color: var(--main-yellow);
  padding-top: 8px;
  font-family:var(--copperplate);
  font-size: 50px;
  line-height: 95px;
  text-align: center;
}
/*Hero */

.intro .content h4 {
  padding-bottom: 30px;
  text-align: center;
/* background-color: var(--main-yellow); */
font-family:var(--copperplate);
}

/* About */

.about-info {
 background-color: rgba(149, 186, 194, 0.885);
 height: 90%;
 width: 97%;
 margin-left: 10px;
 margin-right: 60px;
 font-family: copperplate;
 text-align: center;
 margin-top: 20px;
 
}

.about-content h1 {
  font-size: 45px;
  margin-bottom: 10px;
}
.about-content h4 {
  font-size: 19px;
  padding: 15px 30px;
  letter-spacing: .5px;
  margin-top: 3px;
}
/* End of About */

/* products */

.products {
  text-align: center;
  padding: 20px;
}

.productrow {
  padding: 20px;
  margin: 0 auto;
}

/* Contact */
/* .contact-form {
  text-align: center;
  margin-top: 60px;
}

.container  {
background: url('./images/contactbackground.png') center/cover;


} */

/* Fotter */
/* .text-uppercase{
 text-align: center;
margin-left: 15em;
} */

.text-uppercase p{
  text-align: center;
  margin-left: 15em;
  margin-right: 15em;
}



/* @media (max-width: 880px) {
  footer {
    margin-bottom: -585px;
  }

  .footer-distributed {
    height: 49em;
  }

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		text-align: center;
	}

	 .footer-distributed .footer-center i{
		margin-left: 0;
	} */
	 /* .main {
		line-height: normal;
		font-size: auto;
  }
  .footer-bottom {
    margin-top: 25px;
  } 
} */

